{% extends 'base.html.twig' %}

{% block title %}Автор: {{ author }}{% endblock %}

{% block body %}
    <h1>Автор: {{ author }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ИД:</th>
                <td>{{ author.id }}</td>
            </tr>
            <tr>
                <th>Фамилия</th>
                <td>{{ author.last }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ author.first }}</td>
            </tr>
            <tr>
                <th>Отчество</th>
                <td>{{ author.middle }}</td>
            </tr>
            <tr>
                <th>Книги</th>
                <td>
                    {% for book in author.books %}
                        {{ book }}<br/>
                    {% else %}
                        У вас пока нет книг этого Автора
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('author_index') }}">Вернуться к списку Авторов</a><br/>

    <a href="{{ path('author_edit', {'id': author.id}) }}">Редактировать</a>

    {{ include('author/_delete_form.html.twig') }}
{% endblock %}