{% extends 'base.html.twig' %}

{% block title %}Книга: {{ book }}{% endblock %}

{% block body %}
    <h1>Книга: {{ book }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ИД:</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Год</th>
                <td>{{ book.year }}</td>
            </tr>
            <tr>
                <th>Авторы</th>
                <td>
                    {% for author in book.authors %}
                        {{ author }}<br/>
                    {% else %}
                        Автор этой книги неизвестен
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_index', {'aid': author.id}) }}">Вернуться к списку книг</a><br/>

    <a href="{{ path('book_edit', {'id': book.id, 'aid': author.id}) }}">Редактировать</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}